@import "../abstracts/variables";
@import "../base/animations";


.violet-bg {
  background: $main-color;
}


// Mobile menu start

.hamburger-menu {
  //z-index: 2;
  position: relative;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: 37px;
  height: 4px;
}

.bar {
  position: relative;
  transform: translateY(25px);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);

    &::after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }

    &::before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 13px;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

}

/*nav menu*/

.show {
  left: 0;
  opacity: 1;
}

.hide {
  opacity: 0;
  left: 100%;
}

.mobile-nav {
  background: $main-color;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  text-align: center;
  //transition: .2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px 0;
  }

  .hamburger-menu {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;

  }

  ul {
    position: relative;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  a {
    text-align: center;
    font-size: 4vw;
    color: #ffffff;
    opacity: 0;
    transition: opacity .9s ease-in-out;

    &:hover {
      color: #2980b9;
    }
  }

  &.show {
    a {
      text-align: center;
      font-size: 4vw;
      color: #ffffff;
      opacity: 1;
    }
  }
}

body {
  position: relative;
  z-index: 1;

}

.cursor {

  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  background: $white;
  //border: 2px solid $white;
  transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: 0.1s ease-out;
  z-index: 999;

  &-main {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    //background: $white;
    border: 2px solid transparent;
    transform: translate3d(-50%, -50%, 0);
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: 0.1s ease-out;
  }


  &-lazy {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    position: fixed;
    transform: translate3d(-50%, -50%, 0);
    top: 0;
    left: 0;
    transition: 0.1s ease-out;
    display: none;


  }
}

// Mobile menu end


.hero__banner {
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 154px);
  }

  &-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: $white;
  }

  &-heading {
    max-width: 600px;
    font-size: 70px;
    font-family: "Monsterrat-Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-text {
    font-size: 20px;
    margin-top: 20px;
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 50px;
  }

  .main-btn {
    margin-right: 44px;
  }

  &-link {
    font-size: 20px;
    .fa {
      margin-right: 10px;
    }
  }

  &-photo {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &-bg {
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &-img {
    position: relative;
    z-index: 2;
    width: 100%;
    object-fit: contain;
  }
}

.section {
  color: $white;
  padding: 100px 0;

  &__top {

  }

  &__title {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 72px;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__body {
    margin-top: 50px;
  }
}

// Photosession

.photosession {
  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    max-width: 53%;
    width: 100%;
    position: relative;
    margin-top: -150px;


    &:first-child {
      margin-top: 0;
    }

    &-left {
      margin-right: auto;
      padding-left: 40px;

      .photosession__item-title {
        transform: rotate(-90deg) translateX(+7%);
        top: 50%;
        left: -100px;
      }

      .photosession__item-photo {
        margin-left: auto;
      }

    }

    &-right {
      margin-left: auto;
      padding-right: 40px;
      position: relative;
      z-index: 2;

      .photosession__item-title {
        transform: rotate(+90deg) translateX(+7%);
        top: 50%;
        right: -100px;
      }

      .photosession__item-photo {
        margin-right: auto;
      }

    }

    &-title {
      position: absolute;
      text-align: center;
    }

    &-photo {
      max-width: 570px;
      width: 100%;

      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
