@import "../abstracts/variables";

@media (max-width: 1450px) {

  .my-container {
    max-width: 1230px;
  }

  .category__item-left .category__item-title {
    left: -130px;
  }

  .category__item-right .category__item-title {
    right: -130px;
  }

}

@media (max-width: 1250px) {

  .my-container {
    max-width: 991px;
  }

  .hero__banner-heading {
    font-size: 48px;
  }

  .hero__banner-text {
    font-size: 16px;
  }

  .main-btn {
    padding: 15px 25px;
    font-size: 16px;
  }

  .section__title, .about__title {
    font-size: 48px;
  }

  .section {
    padding: 70px 0;
  }

  .category__item {
    width: 48%;
    flex-direction: column;
  }

  .category__item-left .category__item-title {
    transform: unset;
    left: 0;
    text-align: left;
  }

  .category__item-right .category__item-title {
    transform: unset;
    left: 0;
    text-align: right;
  }

  .category__item-title {
    text-align: unset;
    position: relative;
    width: auto;
    transform: unset;
    order: 2;
    margin-top: 20px;
    font-size: 18px;
  }

  .category__item {
    margin-top: -110px;
  }

  .hero__advantages-text {
    font-size: 14px;
  }

  .hero__advantages-icon {
    img {
      width: 30px;
    }
  }

  .hero__advantages-item {
    max-width: 130px;
  }

  .price-list__wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .category-bantik__content {
    padding: 30px;
  }

  .print__photo {
    max-width: 500px;
  }

}

@media (max-width: 991px) {

  .my-container {
    max-width: 768px;
  }

  .hero__banner-content {
    width: 100%;
    margin-bottom: 50px;
  }

  .hero__banner-heading {
    max-width: 100%;
    text-align: center;
    text-transform: unset;
  }

  .hero__banner-flex {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__banner-photo {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .hero__banner-bg {
    padding: 50px;
  }

  .hero__banner-img {
    padding: 50px;
  }

  .hero__banner-wrap {
    min-height: unset;
    margin-top: 50px;
  }

  .mobile-nav.show a {
    font-size: 6vw;
  }

  .mobile-nav__inner .hamburger-menu {
    height: 0;
  }

  .about {
    flex-wrap: wrap;
  }

  .about__photo {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    max-width: 250px;

    img {
      width: 100%;
    }
  }

  .hero__advantages {
    width: 100%;
    text-align: center;
    justify-content: space-around;

    &-item {
      margin-left: 20px;
    }

    &-icon {
      justify-content: center;
    }

  }

  .hero__advantages-item {
    max-width: 100%;
  }

  .hero__advantages-icon {
    margin-bottom: 20px;

    img {
      width: unset;
    }
  }

  .price-list__wrap {
    grid-template-columns: 1fr 1fr;
  }

  .cta__text {
    font-size: 18px;
  }

  .cta__icons-item {
    padding: 10px;
  }

  .pink-bg {
    .hero__banner-img {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .category-bantik__title {
    font-size: 26px;
    font-family: "Montserrat-Medium", sans-serif;
  }

  .product__wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .personal-work__photo {
    max-width: 30%;
    position: sticky;
    top: 30px;
    height: 100%;
  }

  .personal-work__content {
    max-width: 70%;
  }

  .personal-work__item {
    align-items: flex-start;
  }

  .personal-work__title {
    font-size: 32px;
  }

  .print__photo {
    position: sticky;
    top: 30px;
    height: 100%;
    max-width: 360px;
  }

  .print {
    align-items: flex-start;
  }

}

@media (max-width: 768px) {

  .hamburger-menu {
    display: block;
    right: 30px;
  }

  .category__item {
    width: 50%;
    margin-top: 0;
  }

  .category__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .category__item {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .category__item-title {
    top: unset !important;
  }

  .photosession__slider-item {
    height: auto !important;
  }

  .photosession__slider {
    padding: 0 30px;
  }

  .section {
    padding: 50px 0;
  }

  .footer__wrap {
    padding: 15px;
  }

  .accordion__heading {
    h2 {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .price-list__item {
    padding: 20px;
  }

  .price-list__wrap {
    grid-gap: 15px;
  }

  .cta__icons-item {
    margin-right: 15px;
  }

  .cta__text {
    font-size: 14px;
  }

  .category-bantik__title {
    font-size: 18px;
    line-height: 1.6;
  }

  .product__wrap {
    grid-template-columns: 1fr 1fr;
  }

  .print__title {
    font-size: 26px;
  }

  .personal-work__content {
    max-width: 100%;
  }

  .personal-work__photo {
    max-width: 100%;
    padding: 0 30px;
    order: 2;
    margin-top: 30px;
  }

  .print__photo {
    max-width: 220px;
  }

  .contacts__text {
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .contacts__map {
    max-width: 100%;
    padding: 0 20px;
    order: 2;
  }

  .contacts__body {
    margin-bottom: 20px;
  }

}

@media (max-width: 500px) {

  .my-container {
    padding: 0 20px;
  }

  .hamburger-menu {
    right: 10px;
  }

  .hero__banner-heading {
    font-size: 36px;
  }

  .hero__banner-text {
    text-align: center;
    margin-top: 30px;
  }

  .hero__banner-flex {
    margin-top: 30px;
  }

  .hero__banner-content {
    margin-bottom: 30px;
  }

  .section__title {
    font-size: 32px;
  }

  .section {
    padding: 30px 0;
  }

  .category__wrap {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .category__item-right .category__item-title {
    text-align: left;
  }

  .footer__item {
    margin-right: 0;
  }

  .copyright {
    text-align: center;
  }

  .portfolio__wrap {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .hero__advantages-item {
    max-width: 100%;
  }

  .light-bg {
    .hero__banner-img {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .hero__banner .main-btn {
    margin-right: 20px;
  }

  .logo {
    max-width: 130px;
    width: 100%;

    svg {
      width: 100%;
    }
  }

  .header__border {
    max-width: 200px;
    margin-right: 40px;
  }

  .category-design__title {
    font-size: 42px;
  }

  .category-design__item {
    min-height: 240px;
  }

  .price-list__wrap {
    grid-template-columns: 1fr;
  }

  .cta {
    flex-wrap: wrap;

    &__text {
      margin-top: 20px;
    }
  }

  .category-bantik__item {
    display: block;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .category-bantik__content {
    padding: 20px 0;
 }

  .category-bantik__photo {
    max-width: 100%;
    margin: 0 auto;
  }

  .product__wrap {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .print__content {
    width: 100%;
    margin-bottom: 30px;
  }

  .print {
    flex-wrap: wrap;
  }

  .print__photo {
    margin: 0 auto;
  }

  .contacts__map {
    padding: 0;
  }


}

@media (max-width: 380px) {

  .my-container {
    padding: 0 15px;
  }

  .mobile__menu {
    max-width: 70%;
  }

  .footer__wrap {
    padding: 0;
  }

  .footer .copyright h5 {
    font-size: 14px;
  }

  .footer__logo {
    max-width: 150px;

    img {
      width: 100%;
    }
  }

  .hero__banner-flex {
    flex-direction: column;
  }

  .hero__banner .main-btn {
    margin-right: 0;
  }

  .hero__banner-link {
    margin-top: 20px;
  }

  .header__border {
    display: none;
  }

  .header__wrap {
    justify-content: space-between;
  }

  .bar::before {
    bottom: 10px;
  }

  .bar::after {
    top: 10px;
  }

  .section__title {
    font-size: 28px;
  }

}

