@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
  outline: none;
}

button {
  outline: none !important;
  border: transparent;
}

input {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style-type: none;
}

.my-container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#1749A5), to(#113375));
  background: linear-gradient(180deg, #1749A5 0%, #113375 100%);
}

.violet-bg {
  background: #500064;
}

.hamburger-menu {
  position: relative;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: 37px;
  height: 4px;
}

.bar {
  position: relative;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  -o-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar.animate::after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*nav menu*/

.show {
  left: 0;
  opacity: 1;
}

.hide {
  opacity: 0;
  left: 100%;
}

.mobile-nav {
  background: #500064;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  text-align: center;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.mobile-nav .hamburger-menu {
  position: absolute;
  top: 30px;
  right: 120px;
  margin-left: auto;
  margin-bottom: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-nav ul {
  position: relative;
  list-style: none;
}

.mobile-nav a {
  text-align: center;
  font-size: 4vw;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity .9s ease-in-out;
  -o-transition: opacity .9s ease-in-out;
  transition: opacity .9s ease-in-out;
}

.mobile-nav a:hover {
  color: #2980b9;
}

.mobile-nav.show a {
  text-align: center;
  font-size: 4vw;
  color: #ffffff;
  opacity: 1;
}

body {
  position: relative;
  z-index: 1;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  background: #fff;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  z-index: 999;
}

.cursor-main {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  border: 2px solid transparent;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.cursor-lazy {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid transparent;
  position: fixed;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  display: none;
}

.hero__banner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: calc(100vh - 154px);
}

.hero__banner-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.hero__banner-heading {
  max-width: 600px;
  font-size: 70px;
  font-family: "Monsterrat-Black", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.hero__banner-text {
  font-size: 20px;
  margin-top: 20px;
}

.hero__banner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.hero__banner .main-btn {
  margin-right: 44px;
}

.hero__banner-link {
  font-size: 20px;
}

.hero__banner-link .fa {
  margin-right: 10px;
}

.hero__banner-photo {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.hero__banner-bg {
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero__banner-img {
  position: relative;
  z-index: 2;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section {
  color: #fff;
  padding: 100px 0;
}

.section__title {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 72px;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.photosession__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60%;
}

.photosession__item-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.photosession__item-left .photosession__item-title {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.photosession__item-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.photosession__item-right .photosession__item-title {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.photosession__item-photo {
  max-width: 570px;
  width: 100%;
}

.photosession__item-photo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-btn {
  border: 1px solid #fff;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.main-btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header__wrap {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header__border {
  border-bottom: 1px solid #fff;
  margin-right: 56px;
  width: 100%;
  margin-bottom: 25px;
}

.logo {
  margin-right: 30px;
}

@media (max-width: 1450px) {
  .my-container {
    max-width: 1230px;
  }
}

@media (max-width: 1250px) {
  .my-container {
    max-width: 991px;
  }
}

@media (max-width: 991px) {
  .my-container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    right: 30px;
  }
}

@media (max-width: 500px) {
  .my-container {
    padding: 0 20px;
  }

  .hamburger-menu {
    right: 20px;
  }
}

@media (max-width: 380px) {
  .my-container {
    padding: 0 15px;
  }

  .mobile__menu {
    max-width: 70%;
  }
}