@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
  outline: none;
}

button {
  outline: none !important;
  border: transparent;
}

input {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style-type: none;
}

.my-container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#1749A5), to(#113375));
  background: linear-gradient(180deg, #1749A5 0%, #113375 100%);
}

.violet-bg {
  background: #500064;
  color: #fff;
}

.light-bg {
  background-color: #fff;
  color: #500064;
}

.light-bg .main-btn {
  border-color: #500064;
  color: #500064;
}

.light-bg .cursor {
  display: none;
}

.light-bg .logo path {
  fill: #500064;
}

.light-bg .header__border {
  border-color: #500064;
}

.light-bg .mobile-nav__inner .bar {
  background: transparent;
}

.light-bg .mobile-nav__inner .bar::before {
  background: #fff;
}

.light-bg .mobile-nav__inner .bar::after {
  background: #fff;
}

.light-bg .bar {
  background: #500064;
}

.light-bg .bar::before {
  background: #500064;
}

.light-bg .bar::after {
  background: #500064;
}

.light-bg .hero__banner {
  color: #500064;
}

.light-bg h1,
.light-bg h2,
.light-bg h3,
.light-bg h4,
.light-bg h5,
.light-bg h6,
.light-bg p {
  color: #500064;
}

.light-bg .accordion__heading:hover h2 {
  color: #fff;
}

.light-bg .accordion__heading.active h2 {
  color: #fff;
}

.hamburger-menu {
  position: relative;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: 37px;
  height: 4px;
}

.bar {
  position: relative;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  -o-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar.animate::after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*nav menu*/

.show {
  left: 0;
  opacity: 1;
}

.hide {
  opacity: 0;
  left: 100%;
}

.mobile-nav {
  background: #500064;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.mobile-nav__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 30px 0;
}

.mobile-nav .hamburger-menu {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-nav ul {
  position: relative;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}

.mobile-nav a {
  text-align: center;
  font-size: 4vw;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity .9s ease-in-out;
  -o-transition: opacity .9s ease-in-out;
  transition: opacity .9s ease-in-out;
}

.mobile-nav a:hover {
  color: #2980b9;
}

.mobile-nav.show a {
  text-align: center;
  font-size: 4vw;
  color: #ffffff;
  opacity: 1;
}

body {
  position: relative;
  z-index: 1;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  background: #fff;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  z-index: 999;
}

.cursor-main {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  border: 2px solid transparent;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.cursor-lazy {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid transparent;
  position: fixed;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  display: none;
}

.hero__banner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: calc(100vh - 154px);
}

.hero__banner-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__banner-heading {
  max-width: 600px;
  font-size: 70px;
  font-family: "Monsterrat-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__banner-text {
  font-size: 20px;
  margin-top: 20px;
}

.hero__banner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.hero__banner .main-btn {
  margin-right: 44px;
}

.hero__banner-link {
  font-size: 20px;
}

.hero__banner-link .fa {
  margin-right: 10px;
}

.hero__banner-photo {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px 20px 100px;
}

.hero__banner-bg {
  padding: 50px 50px 50px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero__banner-img {
  position: relative;
  z-index: 2;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero__advantages {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__advantages-item {
  max-width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero__advantages-item:last-child {
  margin-bottom: 0;
}

.hero__advantages-icon {
  margin-bottom: 10px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__advantages-text {
  font-size: 16px;
  line-height: normal;
}

.section {
  color: #fff;
  padding: 100px 0;
}

.section__title {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 72px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.section__subtitle {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.section__body {
  margin-top: 50px;
}

.category__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 53%;
  width: 100%;
  position: relative;
  margin-top: -150px;
}

.category__item:first-child {
  margin-top: 0;
}

.category__item-left {
  margin-right: auto;
  padding-left: 40px;
}

.category__item-left .category__item-title {
  -webkit-transform: rotate(-90deg) translateX(7%);
      -ms-transform: rotate(-90deg) translateX(7%);
          transform: rotate(-90deg) translateX(7%);
  top: 50%;
  left: -100px;
}

.category__item-left .category__item-photo {
  margin-left: auto;
}

.category__item-right {
  margin-left: auto;
  padding-right: 40px;
  position: relative;
  z-index: 2;
}

.category__item-right .category__item-title {
  -webkit-transform: rotate(90deg) translateX(7%);
      -ms-transform: rotate(90deg) translateX(7%);
          transform: rotate(90deg) translateX(7%);
  top: 50%;
  right: -100px;
}

.category__item-right .category__item-photo {
  margin-right: auto;
}

.category__item-title {
  position: absolute;
  text-align: center;
}

.category__item-photo {
  max-width: 570px;
  width: 100%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.category__item-photo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about__title {
  font-size: 70px;
  font-family: "Montserrat-Black", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.about__body {
  margin-top: 50px;
}

.about__body p {
  font-size: 20px;
}

.about__photo {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  height: 100%;
  max-width: 340px;
  width: 100%;
  margin-right: 60px;
  margin-top: 140px;
}

.about__content {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1;
          flex: 0 0 1;
}

.photosession__slider-item {
  padding: 40px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photosession__slider-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Montserrat-Bold", sans-serif;
}

.photosession__slider-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.photosession__slider-text {
  font-size: 16px;
}

.photosession__slider-price {
  margin-top: auto;
}

.photosession__slider .main-btn {
  margin-top: 30px;
  text-align: center;
}

.portfolio__wrap {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-auto-rows: 200px;
}

.portfolio__item {
  position: relative;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__item img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.portfolio__item:nth-child(even) {
  grid-row: span 2;
}

.category-design__item {
  max-width: 760px;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  margin-bottom: 30px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.category-design__item:hover .category-design__photo img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.category-design__item:last-child {
  margin-bottom: 0;
}

.category-design__item.left {
  margin-right: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.category-design__item.right {
  margin-left: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.category-design__item.right .category-design__title {
  -webkit-text-stroke-color: #500064;
}

.category-design__item.right .category-design__photo::after {
  background: black;
  background: -o-linear-gradient(190deg, rgba(0, 0, 0, 0) 0%, white 60%);
  background: linear-gradient(260deg, rgba(0, 0, 0, 0) 0%, white 60%);
}

.category-design__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.category-design__photo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(60%, #3a0049));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #3a0049 60%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #3a0049 60%);
}

.category-design__photo img {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-design__title {
  position: relative;
  z-index: 3;
  font-size: 56px;
  font-family: "Montserrat-Black", sans-serif;
  text-transform: uppercase;
  color: transparent !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.accordion__item {
  margin-bottom: 36px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__item:hover .accordion__heading {
  border-color: #500064;
  background-color: #500064;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.accordion__heading {
  padding: 20px;
  border: 2px solid #B6B6B6;
  color: #500064;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.accordion__heading:hover .accordion__heading-icon .fa {
  color: #fff;
}

.accordion__heading.active {
  border-color: #500064 !important;
  background-color: #500064;
}

.accordion__heading.active .accordion__heading-icon .fa {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #fff;
}

.accordion__heading h2 {
  margin-right: 20px;
}

.accordion__heading-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  color: #500064;
}

.accordion__heading-icon .fa {
  font-size: 32px;
  color: #500064;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.accordion__body {
  display: none;
  margin-top: 20px;
  background-color: #50006414;
  padding: 20px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.accordion__body p {
  font-size: 16px;
  line-height: normal;
  color: #500064;
}

.accordion__body ul li {
  color: #500064;
  font-size: 16px;
  margin-bottom: 10px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-btn {
  border: 1px solid #fff;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.main-btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header__wrap {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header__border {
  border-bottom: 1px solid #fff;
  margin-right: 56px;
  width: 100%;
  margin-bottom: 25px;
}

.logo {
  margin-right: 30px;
}

.footer {
  background-color: #000;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.footer__logo {
  margin-bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .copyright h5 {
  color: #fff;
  font-size: 16px;
}

.footer__item {
  margin: 15px 30px 15px 0;
  font-size: 16px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__contacts {
  display: block;
}

.footer__contacts-item {
  display: block;
  margin-bottom: 10px;
}

.footer__contacts-item:last-child {
  margin-bottom: 0;
}

.footer__contacts-item .fa {
  text-align: center;
  min-width: 20px;
  margin-right: 10px;
}

.footer__socials-item {
  font-size: 20px;
  margin-left: 20px;
}

.footer__socials-item:first-child {
  margin-left: 0;
}

@media (max-width: 1450px) {
  .my-container {
    max-width: 1230px;
  }
}

@media (max-width: 1250px) {
  .my-container {
    max-width: 991px;
  }
}

@media (max-width: 991px) {
  .my-container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    right: 30px;
  }
}

@media (max-width: 500px) {
  .my-container {
    padding: 0 20px;
  }

  .hamburger-menu {
    right: 20px;
  }
}

@media (max-width: 380px) {
  .my-container {
    padding: 0 15px;
  }

  .mobile__menu {
    max-width: 70%;
  }
}