<footer class="footer">
    <div class="my-container">
        <div class="footer__wrap">
            <div class="footer__item">
                <div class="copyright">
                    <a href="index.html" class="footer__logo">
                        <img src="./img/svg/logo.svg" alt="">
                    </a>
                    <h5>Все права защищены. &copy; 2013-<span id="year"></span>. OOO "Colored" </h5>
                </div>
            </div>

            <div class="footer__item">
                <div class="footer__contacts">
                    <a href="tel: +998 99 520 11 99" class="footer__contacts-item">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        +998 99 520 11 99</a>
                    <a href="mailto: color.tashkent@gmail.com" class="footer__contacts-item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        color.tashkent@gmail.com</a>
                    <a href="#!" class="footer__contacts-item">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Ташкент, Чиланзар 16, 11 дом, напротив Uztelecom.</a>
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__socials">

                    <a href="" class="footer__socials-item">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </a>
                    <a href="" class="footer__socials-item">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="footer__socials-item">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>