<div class="mobile-nav hide">

    <div class="mobile-nav__inner">
       <div class="my-container">
           <a class="hamburger-menu">
               <div class="bar"></div>
           </a>
       </div>

        <div class="mobile__menu">
            <ul>
                <li><a href="index.html">Фото</a></li>
                <li><a href="design.html">Дизайн</a></li>
                <li><a href="bantik.html">Подарки</a></li>
                <li><a href="contacts.html">Контакты</a></li>

            </ul>
        </div>

    </div>


</div>
